<html>

<body>

    <head>
        <h1>Announcement Page!</h1>
        <form action="" method="">
            <tr>Announcement:</tr>
            <td><input type="text" name="ann"></td>
            <input type="submit">
        </form>
    </head>
</body>

</html>