<!DOCTYPE html>
<html>

<head>
</head>
<title>

</title>

<body>
    <form action="/attendance" method="post">
        <div>
            <button id="demo">ADD ATTENDANCE</button>
        </div>
    </form>

</body>

</html>
</body>

</html>