<html>

<body>

    <h1>This is addPage</h1>
    <% for(let ele in findResult) {%> 
        <br> 
        <%= findResult[ele].fruit %> 
        <%= findResult[ele].quantity %> 
        <%= findResult[ele].price %> 
    <% } %> 
</body>
</html>