<html>

</html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
</head>

<body>
    <h1>GOOD  EXPRESS! {{title}}</h1>
    <p>{{Name}}</p>
    <img src="/img/Capture001.png" />
</body>