<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display :list-item;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 14px 16px;
  position:relative;
  text-decoration: none;
}

li a:hover {
  background-color:black;
}
.header {
  text-align: left;
  margin-left: 10px;
  margin-top:0 px;
  background: white;
  color: #1abc9c;
  font-size: 20px;
}

</style>
</head>
<body>
  <div class="header">
    <h1>Ionetech</h1>
  </div>
  </div>
<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/addRecord">Records</a></li>
  <li><a href="#about">About</a></li>
  <li><a href="#">Contact us</a></li>
</ul>
</body>
</html>


